.top-nav-bar {
  background: var(--pico-color-indigo-600);
  color: white; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--theme-box-shadow);
  position: sticky;
  top: 0;
  z-index: 950;
  font-family: var(--theme-font-family);
  height: var(--theme-header-height);
}

.nav-left {
  display: flex;
  align-items: center;
}

.drawer-toggle-btn {
  background: transparent;
  border: none;
  font-size: var(--theme-font-size-md);
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  width: 35px; 
}

.drawer-toggle-btn:hover {
  opacity: 0.8;
}

.nav-title {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.user-greeting {
  margin-right: 15px;
  font-size: 0.9em;
  color: var(--theme-text-light);
}

.logout-btn {
  background-color: transparent;
  color: var(--theme-text-light);
  padding: 8px 5px;
  border-radius: var(--theme-border-radius-medium); 
  cursor: pointer;
  font-size: 0.9em;
  font-family: var(--theme-font-family);
  width: 70px;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}
