.sd {
margin: 0px;
border: none;
}

.tr {
padding: 0px !important;
margin: 10px !important;
/* background-color: blue; */
}

.td {
padding: 0px!important;
margin: 0px;
}
/* .tdNo {
padding: 0px!important;
margin: 0px;
} */

table{
    background-color:transparent;
}