  .navbar-custom {
      background-color: var(--bs-primary);
      color: var(--surface-color);
      height: var(--theme-header-height);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030; 
    }


 .navbar-custom button {
      background-color: transparent;
      border: none;
      color: var(--surface-color);
    }
 .navbar-custom .title {
      color: var(--surface-color);
    }

    .notification-bell {
      position: relative;
    }

    .notification-bell .badge {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: red;
      color: white;
      font-size: 0.65rem;
      padding: 3px 6px;
      border-radius: 50%;
    }

    .search-box {
      width: 200px;
    }

    .navbar-profile-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }